
p{
	text-align: justify;
}

p span{

}

.dicas .card{
	border: 0;
}

.dicas_titulo h4{
	font-weight: 400;
}
.dicas_titulo h2{
	font-weight: 700;
	color: #006700;
}

.dicas_titulo h6{
	font-weight: 400;
	color: #2b2c2c;
}

.dicas_titulo h6 span{
	font-weight: 700;
	color: #515050;
}

.dicas_titulo .blockquote-footer:before {
	color: #006700;
	padding: 10px;
}

.dicas_titulo .media{
	margin-top: -8px;
}


.empresa_titulo h4,.empresa_titulo h2,.empresa_titulo h6{
	color: #fff;
}



.dicas a img:hover{
	opacity: .6;
}

.dicas a h6{
	color: #252525;
}

.dica_line_titulo{
	overflow: hidden;
	height: 57px;
}

.btn_detalhe_dicas{
	color: #0b8a3f;
	position: absolute;
	right: -8px;
	bottom: 66px;
}

.btn_detalhe_dicas:hover{
	color: #252525;
}

.bg_empresa_home{
	background: url("../imgs/bg_empresa_home.jpg")top center no-repeat;
	min-height: 577px;
}

.empresa_des{
	overflow: hidden;
	height: 211px;
}

.btn_detalhe_empresa{
	color: #2b2c2c;
	background: #fff;
}

.empresa_des p{
	color: #fff;
	font-weight: 700;
}

.servicos .card{
	border: 0;
	border-bottom: 5px solid #0fc358;
	border-radius: 0;
	margin-bottom: 10px;
}

.servicos a{
	color: #414140;
}

.servicos a img:hover{
	opacity: .8;
}

.btn_compra{
	color: #fff !important;
	background: #006700;
}

.bg_cat{
	background: url("../imgs/barra_cat.png")top center no-repeat;
	min-height: 62px;
}

.titulo_internas h1{
	color: #008d44;
	font-weight: 700;
}

.borde_lateral{
	border-left: 1px solid #fff;
}

.linha_cinza{
	border-bottom: 1px solid #d3d6d3;
}

.bg_cinza{
	background: #f6f6f6;
}

.btn_servicos{
	color: #9c9d9c;
	background: none;
	font-size: 16px;
}

.bg_branco{
	background: #fff;
}

.position_dica {
	position: absolute;
	top: 190px;
	left: 15px;
	padding: 10px;
	height: 92px;
	overflow: hidden;
}

.position_dica h2{
	font-weight: 700;
	color: #414140;
}

.fundo_empresa{
	background: url("../imgs/fundo_empresa.jpg") top center no-repeat;
	min-height: 600px;
}


.fundo_fale{
	background: url("../imgs/fundo_fale.jpg") top center no-repeat;
	min-height: 654px;
}
.barra_fale{
	background: url("../imgs/barra_fale.png") top center no-repeat;
	min-height: 59px;
}
.barra_menu{
	background: url("../imgs/barra_menu.png") top center no-repeat;
	min-height: 61px;
}

.nav-link {
	display: block;
	color: #fff;
	opacity: .7;
	padding: .5rem 1rem;
	font-weight: 700;
}

.barra_fale .nav-pills .nav-link.active,
.barra_fale .nav-pills .show>.nav-link,
.barra_fale .nav-pills .nav-link:hover{
	color: #fff;
	opacity: 1;
	background: none;
}

.barra_fale_border{
	border-right: 2px solid #fff;
	border-radius: 0 !important;
}

.fale_titulo h4,fale_titulo h2{
	 color: #515050;
 }

.barra_menu h6{
	color: #fff;
	font-weight:400;

}

.servico_Dentro h2{
	font-weight: 700;
	color: #414140;
}


.fundo_empresa ul, .fundo_empresa li{
	list-style: aquamarine !important;
}