/* =============== EMPRESA =============== */


.open {
    font-family: 'Open Sans', sans-serif;
}

.fundo_titulo h6 {
    color: #ffcc29;
    font-weight: 400;
    color: #fff;
}


.fundo_titulo{
background: url("../imgs/barra_empresa.png")top center no-repeat;
    -webkit-background-size: 100% 39px;
    -moz-background-size: 100% 39px;
    -o-background-size: 100% 39px;
    background-size: 100% 39px;
    padding: 5px ;
    margin-top: 111px;
}

.dicas .card{
    border:0;
}

.dica_line_titulo{
    overflow: hidden;
    height: 40px;
}

.btn_detalhe_dicas{
    position: absolute;
    right: 0;
    bottom: 41px;
}

.dicas h6,.servicos h6E{
    color: #252525;
}

.dica_dentro h6{
    color: #252525;
    font-weight: 700;

}

.border_titulo{
    border-bottom:1px solid #adb1ab;
}

.servicos .card{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    border-radius: 0;
    border: 0;
}

.btn_detalhe_servicos{
    color: #fff;
    background: #0fc358;
}

.btn_excluir{
    padding: 6px 2px;
}