.bg-branco{
    background: #fff;
    height: 70px;
    opacity: .9;
}

.bg-branco amp-img{
    opacity: 1;
}


.topo {
    text-align: center;
    padding:5px 0;
}

.barra_pesquisa button,.barra_pesquisa button:visited{
    color: #a1a1a1;
}

.icon a,.icon:visited{
    color: #a1a1a1;

}

.barra_pesquisa .btn{
    padding: 0;
}

.rodape {
    background: #006233;
    height: 40px;
    color: #fff;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 0px 0px;
    z-index: 999;
}

.rodape_paginas {
    background: #ffffff;
    -webkit-box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: -1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.rodape a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
}

.separador-rodape {
    height: 11.13rem;
}

.btn-topo {
    background: none;
    color: #006233;
}

.barra_pesquisa input{
    border:0;
}

.menu-mobile-principal {
    background: #d9d9d9;
}

.menu-mobile li {
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}

.menu-mobile li a:visited, .menu-mobile li a {
    color: #000;
    font-size: 1rem;
}

.btn_topo{
    color: #fff;
    background: #0c6114;
    font-size: 16px;
    font-weight:700;
}

.btn_orcamento{
    font-weight:400;
}
.btn_orcamento_servico{
    background: #0b8a3f;

}

.btn_ligue{
    background: none;
    border:1px solid #206b05;
    color: #206b05;
    font-weight: 400;
}

.bg_topo {
    background: #fff;
    min-height: 3.75rem /* 60/16 */;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.bg_topo .col-2{
    line-height: 2;
}

.btn_cat{
    border:1px solid #8c8c8c;
    font-size: 16px;
    font-weight:400;
    color: #545454;

}

.btn_verde {
    color: #fff;
    background: #d9d9d9;
    font-size: 1rem;
}

.bg_branco {
    background: #fff;
}

.numero {
    font-size: 1rem /* 16/16 */;
    color: #000;
}

.bg_branco_borde {
    border-bottom: 1px solid #f0f0f0;
}

.btn_escuro{
    background: #404243;
    color: #fff;
}

.barra_pesquisa input{
    font-size: 11px;
}


